*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
*.jks
*.keystore
.externalNativeBuild
.cxx/
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
.kotlin/
node_modules/
.DS_Store
Thumbs.db
